<%- include ("../../partials/header") %>

<body class="bg-dark text-light">
  <%- include ("../../partials/navbar") %>
  <div class="Feedback-SOC-Content">
    <h1>Gymkhana</h1>
    <h1 class="text-center">
      Advisor
    </h1>

    <div class="container">
      <%- include ("./cardComponent/card") %>

      <div class="row">
        <%- include ("./cardComponent/card") %> <%- include
        ("./cardComponent/card") %> <%- include ("./cardComponent/card") %>
      </div>
    </div>
  </div>

  <%- include ("../../partials/footer") %> <%- include
  ("../../partials/scrollTop") %>
</body>
